<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>linjuli</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 记录日志 -->
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <!-- log4j.properties
  		%m 输出代码中指定的消息 
		%p 输出优先级，即DEBUG，INFO，WARN，ERROR，FATAL 
		%r 输出自应用启动到输出该log信息耗费的毫秒数 
		%c 输出所属的类目，通常就是所在类的全名 
		%t 输出产生该日志事件的线程名 
		%n 输出一个回车换行符，Windows平台为“\r\n”，Unix平台为“\n” 
		%d 输出日志时间点的日期或时间，默认格式为ISO8601，也可以在其后指定格式，比如：%d{yyy MMM dd HH:mm:ss,SSS}，输出类似：2002年10月18日 22：10：28，921
		%l 输出日志事件的发生位置，包括类目名、发生的线程，以及在代码中的行数。举例：Testlog4.main(TestLog4.java:10)  
	-->
		
  
  <!-- 定时获取token -->
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>
            com.linjuli.web.InitServlet
    </servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <!--  -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-*.xml</param-value>
  </context-param>
  <servlet>
    <servlet-name>linjuli</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-*.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>linjuli</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>