<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.linjuli.dao.BaoxiuDao">
	 <insert id="createBaoxiu" parameterType="com.linjuli.model.web.Baoxiu" useGeneratedKeys="true" keyProperty="id">
	 	INSERT
	 	INTO
	 		wechat_user
		 	(
				id,
				cid,
				uid,
				lid,
				isset,
				tel,
				level,
				content,
				relcontent,
				picurl,
				media_id,
				addtime,
				chuli_time,
				jieshu_time,
				istype,
				isdel
		 	)
	 	VALUES
	 		(
	 			DEFAULT,
				#{cid},
				#{uid},
				#{lid},
				#{isset},
				#{tel},
				#{level},
				#{content},
				#{relcontent},
				#{picurl},
				#{media_id},
				#{addtime},
				#{chuli_time},
				#{jieshu_time},
				#{istype},
				#{isdel}
	 		)
	 </insert>
	 <update id="updateBaoxiu" parameterType="com.linjuli.model.web.Baoxiu" >
	 	UPDATE
	 		wechat_baoxiu
	 	SET
	 		isset = #{isset}
	 </update>
	 <update id="deleteBaoxiu" parameterType="com.linjuli.model.web.Baoxiu" >
	 	UPDATE
	 		wechat_baoxiu
	 	SET
	 		isdel = #{isdel}
	 </update>
</mapper>